<div class="header md:mb-12 mb-0">
  <nav class="bg-blue">
    <div class="ml-4 md:ml-10 h-16 md:h-24 flex-shrink flex w-auto md:flex md:items-center">
      <div class="w-20 md:w-auto flex justify-between items-center md:py-4.5 md:p-0">
        <a href="#" class="font-bold text-xl sm:py-5 py-5 text-indigo-600 hover:bg-blue"><%= image_tag 'Auction_Project.svg' %></a>
      </div>

      <div class="flex md:flex absolute right-0 sm:flex justify-end sm:top-0 sm:right-0 md:absolute md:top-0 md:right-0 items-center md:flex-auto md:flex-row " id="navbar-collapse">
        <div class="border-0 md:mr-8 md:p-8 p-2 flex-shrink inline-flex	bg-lightBlue md:w-48 w-30 md:h-24 h-16 leading-7 md:py-9 py-5 text-white text-center text-base md:text-lg m-0 p-0 hover:bg-lightBlue hover:text-indigo-700 transition-colors duration-300 md:-mt-3">
          <%= image_tag 'world.svg', :class => 'flex-shrink h-4 mt-0.5 md:h-auto' %>
          <a href="#" class='mx-3 flex-shrink hover:bg-lightBlue -mt-1'>English</a>
          <%= image_tag 'arrow-down.svg', :class => 'flex-shrink -ml-1 h-1.5 mt-2 md:mt-2.5'  %>
        </div>
        <span class='flex md:hidden lg:hidden 2xl:hidden flex-shrink text-blue-child px-2 py-5'>
          <%= image_tag 'person.svg', :class => 'mx-2 flex-shrink'  %>
          <%= image_tag 'bars.svg', :class => 'mx-2 flex-shrink'  %>
        </span>
        <div class='login md:mx-6 hidden md:flex py-9 leading-7 h-auto text-white text-indigo-700 center text-lg hover:bg-blue hover:text-indigo-700 transition-colors duration-300'>
          <a href="#" class="text-white mx-3 text-center text-lg hover:bg-blue ">Login</a>
          <a href="#" class="text-white mx-2 px-3 py-3 -mt-3 border border-2 text-center text-lg hover:bg-blue">Register</a>
        </div>
      </div>
      <div class="bg-blue-child absolute left-0 absolute p-2 md:h-12 h-20 w-full md:flex-row hidden md:flex flex-col flex-wrap md:ml-auto mt-36 ">
        <div class='absolute left-0 flex-wrap'>
          <a href="#" class="flex-wrap lg:mr-3 md:mr-1 md:ml-8 text-base leading-7 font-black	text-white h-auto hover:bg-blue-child">Home</a>
          <a href="#" class="flex-wrap lg:mx-3 md:mx-1 text-base leading-7 text-white h-auto hover:bg-blue-child hover:text-gray-700 transition-colors duration-300">Our Properties</a>
          <a href="#" class="flex-wrap lg:mx-3 md:mx-1 text-base leading-7 text-white h-auto hover:bg-blue-child hover:text-gray-700 transition-colors duration-300">About Us</a>
          <a href="#" class="flex-wrap lg:mx-3 md:mx-1 text-base leading-7 text-white h-auto hover:bg-blue-child hover:text-gray-700 transition-colors duration-300">How to Bid</a>
          <a href="#" class="flex-wrap lg:mx-3 md:mx-1 text-base leading-7 text-white h-auto hover:bg-blue-child hover:text-gray-700 transition-colors duration-300">FAQ</a>
          <a href="#" class="flex-wrap lg:mx-3 md:mx-1 text-base leading-7 text-white h-auto hover:bg-blue-child hover:text-gray-700 transition-colors duration-300">Agents</a>
          <a href="#" class="flex-wrap lg:mx-3 md:mx-1 text-base leading-7 text-white h-auto hover:bg-blue-child hover:text-gray-700 transition-colors duration-300">Noticeboard</a>
          <a href="#" class="flex-wrap lg:mx-3 md:mx-1 text-base leading-7 text-white h-auto hover:bg-blue-child hover:text-gray-700 transition-colors duration-300">News</a>
        </div>
        <div class='absolute right-0 mr-8 flex-wrap'>
          <a href="#" class="md:mx-3 text-base leading-7 text-white h-auto hover:bg-blue-child hover:text-gray-700 transition-colors duration-300">Contact Us</a>
        </div>
      </div>
    </div>
  </nav>
</div>
