<div id='feature' class="antialiased bg-gray-200 text-gray-900 font-sans p-6">
  <h2 class="block mt-24 mb-4 flex justify-center text-4xl font-bold text-black">Featured Properties</h2>
  <div class="mx-auto carousel-wrap">
    <div class="flex flex-wrap -mx-4 owl-carousel owl-theme">
      <div class="item p-4">
        <a href="#feature" class="c-card block bg-white gray-border hover:shadow-xl hover:bg-transparent overflow-hidden hover:text-black">
          <div class="relative pb-48 overflow-hidden">
            <%= image_tag "bookmark.svg", :class => 'absolute top-2.5 left-2.5 z-10', :style => 'width: auto;' %>
            <%= image_tag "feature-1.jpg", :class => 'absolute inset-0 h-full w-full object-cover' %>
          </div>
          <div class='flex justify-center py-5 bg-blue-child text-white'>AVIABLE TO BUY NOW</div>
          <div class="px-8 py-4">
            <h2 class="mt-2 mb-4 font-black text-black text-lg">5 bedroom town house in Tuscany</h2>
            <div class='gray-border border-b-0'></div>
            <div class="my-4 block text-lg items-center">
              <span class='flex'>
                <%= image_tag "wallet.svg", :class => 'mr-3', :style => 'width: auto;' %>
                Price:&nbsp;
                <span class='text-blue-child'> € 1.900.000</span>
              </span>
            </div>
            <div class="my-4 block text-lg items-center">
              <span class='flex'>
                <%= image_tag "clock.svg", :class => 'mr-3', :style => 'width: auto;' %>
                Ends:&nbsp;
                <span class='text-blue-child'>Fri, 04 Jun 2021 - 00:00</span>
              </span>
            </div>
            <div class='gray-border border-b-0'></div>
            <div class='flex my-4'>
              <div class='inline-flex items-center text-lg mr-5 whitespace-nowrap '>
                <%= image_tag "plans.svg", :class => 'mr-3' %>
                55 sq. m
              </div>
              <div class='inline-flex items-center text-lg mr-5 whitespace-nowrap '>
                <%= image_tag "bed.svg", :class => 'mr-3' %>
                4
              </div>
              <div class='inline-flex items-center text-lg mr-5 whitespace-nowrap '>
                <%= image_tag "shower.svg", :class => 'mr-3' %>
                2
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="item p-4">
        <a href="#feature" class="c-card block bg-white gray-border hover:shadow-xl hover:bg-transparent overflow-hidden hover:text-black">
          <div class="relative pb-48 overflow-hidden">
            <%= image_tag "bookmark.svg", :class => 'absolute top-2.5 left-2.5 z-10', :style => 'width: auto;' %>
            <%= image_tag "feature-2.jpg", :class => 'absolute inset-0 h-full w-full object-cover' %>
          </div>
          <div class='flex justify-center py-5 bg-white leading-4 text-xs border border-blue-child text-blue-child'>LISTING</div>
          <div class="px-8 py-4">
            <h2 class="mt-2 mb-4 font-black text-black text-lg">Old hayloft on the Chianti hills</h2>
            <div class='gray-border border-b-0'></div>
            <div class="my-4 block text-lg items-center">
              <span class='flex'>
                <%= image_tag "compass.svg", :class => 'mr-3', :style => 'width: auto;' %>
                Location:&nbsp;
                <span class='text-blue-child whitespace-nowrap'> Grosseto</span>
              </span>
            </div>
            <div class="my-4 block text-lg font-black items-center">
              Property listed for sale
            </div>
            <div class='gray-border border-b-0'></div>
            <div class='flex my-4'>
              <div class='inline-flex items-center text-lg mr-5 whitespace-nowrap '>
                <%= image_tag "plans.svg", :class => 'mr-3' %>
                55 sq. m
              </div>
              <div class='inline-flex items-center text-lg mr-5 whitespace-nowrap '>
                <%= image_tag "bed.svg", :class => 'mr-3' %>
                4
              </div>
              <div class='inline-flex items-center text-lg mr-5 whitespace-nowrap '>
                <%= image_tag "shower.svg", :class => 'mr-3' %>
                2
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="item p-4">
        <a href="#feature" class="c-card block bg-white gray-border hover:shadow-xl hover:bg-transparent overflow-hidden hover:text-black">
          <div class="relative pb-48 overflow-hidden">
            <%= image_tag "bookmark.svg", :class => 'absolute top-2.5 left-2.5 z-10', :style => 'width: auto;' %>
            <%= image_tag "feature-3.jpg", :class => 'absolute inset-0 h-full w-full object-cover' %>
          </div>
          <div class='flex justify-center py-5 bg-white leading-4 text-xs border border-darkGreen text-darkGreen bg-lightGreen'>AUCTION RUNNING</div>
          <div class="px-8 py-4">
            <h2 class="mt-2 mb-4 font-black text-black text-lg">6 bedroom farm house</h2>
            <div class='gray-border border-b-0'></div>
            <div class="my-4 block text-lg items-center">
              <span class='flex'>
                <%= image_tag "wallet.svg", :class => 'mr-3', :style => 'width: auto;' %>
                Ends:&nbsp;
                <span class='text-blue-child'>Fri, 04 Jun 2021 - 16:00</span>
              </span>
            </div>
            <div class="my-4 font-black block text-lg items-center">
              Open for bids
            </div>
            <div class='gray-border border-b-0'></div>
            <div class='flex my-4'>
              <div class='inline-flex items-center text-lg mr-5 whitespace-nowrap '>
                <%= image_tag "plans.svg", :class => 'mr-3' %>
                55 sq. m
              </div>
              <div class='inline-flex items-center text-lg mr-5 whitespace-nowrap '>
                <%= image_tag "bed.svg", :class => 'mr-3' %>
                4
              </div>
              <div class='inline-flex items-center text-lg mr-5 whitespace-nowrap '>
                <%= image_tag "shower.svg", :class => 'mr-3' %>
                2
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="item p-4">
        <a href="#feature" class="c-card block bg-white gray-border hover:shadow-xl hover:bg-transparent overflow-hidden hover:text-black">
          <div class="relative pb-48 overflow-hidden">
            <%= image_tag "bookmark.svg", :class => 'absolute top-2.5 left-2.5 z-10', :style => 'width: auto;' %>
            <%= image_tag "feature-4.jpg", :class => 'absolute inset-0 h-full w-full object-cover' %>
          </div>
          <div class='flex justify-center py-5 bg-white leading-4 text-xs border border-darkRed text-darkRed bg-lightRed'>AUCTION ENDED</div>
          <div class="px-8 py-4">
            <h2 class="mt-2 mb-4 font-black text-black text-lg">567903 Villa, Monte Carru</h2>
            <div class='gray-border border-b-0'></div>
            <div class="my-4 block text-lg items-center">
              <span class='flex'>
                <%= image_tag "wallet.svg", :class => 'mr-3', :style => 'width: auto;' %>
                Ended:&nbsp;
                <span class='text-blue-child'>Wed, 14 Apr 2021 - 15:00</span>
              </span>
            </div>
            <div class="my-4 block text-lg font-black items-center">
              Auction closed
            </div>
            <div class='gray-border border-b-0'></div>
            <div class='flex my-4'>
              <div class='inline-flex items-center text-lg mr-5 whitespace-nowrap'>
                <%= image_tag "plans.svg", :class => 'mr-3' %>
                55 sq. m
              </div>
              <div class='inline-flex items-center text-lg mr-5 whitespace-nowrap '>
                <%= image_tag "bed.svg", :class => 'mr-3' %>
                4
              </div>
              <div class='inline-flex items-center text-lg mr-5 whitespace-nowrap '>
                <%= image_tag "shower.svg", :class => 'mr-3' %>
                2
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<button class='primary bg-blue-child py-3.5 text-white text-base px-7 hover:outline-none m-0-auto flex justify-center'>
  <span class='mr-4'>View All</span>
  <%= image_tag 'left-arrow.svg', :class => 'ml-2 mt-1.5' %>
</button>
