<main>
  <%= render 'components/sections/hero_section' %>
  <%= render 'components/sections/features_section' %>
  <%= render 'components/sections/offers_section' %>
  <%= render 'components/sections/buy_property' %>
  <%= render 'components/sections/agent_section' %>
  <%= render 'components/sections/news_section' %>
</main>